@use 'variables' as *;
@use 'sass:math';
 
.seccion {
  margin-top: math.div($separacion, 2);
  margin-bottom: math.div($separacion, 2);
}
 
.contenido-centrado {
  max-width: 80rem;
  
}
 
.alinear-derecha {
  display: flex;
  justify-content: flex-end;
}

.alinear-izquierda {
  display: flex;
  justify-content: flex-start;
}

.w-100 {
  width: 100%;
}

.centrado-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px); /* 150px para compensar un header/footer aproximado */
}